if TARGET_NANOPC_RK3588

config SYS_BOARD
	default "nanopc-rk3588"

config SYS_VENDOR
	default "friendlyelec"

config SYS_CONFIG_NAME
	default "nanopc-rk3588"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
